<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Available Coffee for Order</h2>

    <table>
        <tr>
            <th>Name</th>
            <th>Selling Price</th>
        </tr>
        <% for (i = 0; i < coffeeData.length; i++) { %> 
        <tr>
            <td><%= coffeeData[i].dataValues["name"] %></td>
            <td><%= coffeeData[i].dataValues["sellingPrice"] %></td>
        </tr>
    <% } %> 
    </table>
</body>
</html>