<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Today's Coffee Order</h2>

    <table>
        <tr>
            <td>userId</td>
            <td>coffeeId</td>
            <td>Customer Name</td>
            <td>Order</td>
        </tr>
        <tr>
            <td>userId</td>
            <td>coffeeId</td>
            <td>Customer Name</td>
            <td>Order</td>
        </tr>
    </table>

</body>
</html>
